*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: inherit;}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
body{font-family: "Pretendard-Regular";font-size: 20px; 
line-height: 26px; 
color: #2d2d2d; 
vertical-align: middle;
min-width:1450px;}
.clearfix::after{display: block; content: "";clear: both;}
img{vertical-align: middle;}
#top{width: 1320px; margin: auto;}
#top ul{font-size: 16px; float: right;}
#top ul li{float: left; padding: 3px 30px;}
#header{background-color: #2d2d2d; color: #eeeeee; font-weight: bold}
#header ul{width: 1320px; margin: auto; display: flex;align-items: center; height: 88px;}
#header ul li{width: 20%; text-align: center;}

.event{background: url(./png/event.png) no-repeat; width: 100%; margin-top: 150px;}
.e_margin{width: 1320px; margin: auto; padding-top: 180px;}
.e_margin ul{display: flex;}
.e_margin ul li{margin: 15px;}

.notice{background: url(./png/notice.png) no-repeat; width: 100%; margin-top: 60px;}
.n_margin{width: 1320px; margin: auto; padding-top: 130px;}
.n_margin table{width: 1000px; margin: auto; text-align: left; padding-bottom: 20px;}
.n_td{text-align: right; font-size: 15px;}
.n_th1{background-color: #e8dbf0; border-bottom: solid 1px #2d2d2d;}
.n_th2{font-weight: bold; color: red;}
th{ padding: 10px 20px; font-weight: 700;}
td{ padding: 10px 20px; border-bottom: solid 1px #2d2d2d; font-weight: 500;}
caption{font-size: 25px; font-weight: bold; line-height: 32px; border-top: double 5px #7400a5; border-bottom: double 5px #7400a5; padding: 5px 0; margin-bottom: 10px;}
.page{color: #ccc; text-align: center; padding-bottom: 80px; padding-top: 20px;}
.page a:hover{color: #2d2d2d; transition: all 0.5s;}

table{border-collapse: collapse;}

#footer{background-color: #2d2d2d; color: #eeeeee; font-weight: 500;}
.f_margin{width: 1320px; margin: auto; position: relative;}
.f_box{float: left;padding-bottom: 39px;}
.f_box ul li{float: left; padding: 42px 50px 0 0;}
.f_box3{position: absolute; right: 30px; top: 51px;}
.f_box2{float: left;}
.f_p{padding-bottom: 28px; line-height: 31px;}
.f_p2{padding-bottom: 47px;}