*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: inherit;}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
body{font-family: "Pretendard-Regular";font-size: 20px; 
line-height: 26px; 
color: #2d2d2d; 
vertical-align: middle;
min-width:1450px;}
.clearfix::after{display: block; content: "";clear: both;}
img{vertical-align: middle;}
#top{width: 1320px; margin: auto;}
#top ul{font-size: 16px; float: right;}
#top ul li{float: left; padding: 3px 30px;}
#header{background-color: #2d2d2d; color: #eeeeee; font-weight: bold}
#header ul{width: 1320px; margin: auto; display: flex;align-items: center; height: 88px;}
#header ul li{width: 20%; text-align: center;}

.coffee_var img{width: 100%;}
.coffee{background: url(./png/menu_background.png) no-repeat; width: 100%; height: 800px;}
.c_margin{width: 1320px; margin: auto;}
.c_margin .c_ul1{display: flex;}
.c_margin .c_ul1 li{margin: 100px;}
.c_margin .c_ul2{display: flex;}
.c_margin .c_ul2 li{margin: 0 100px;}

.beer_var img{width: 100%;}
.beer{background: url(./png/menu_background2.png) no-repeat; width: 100%; height: 800px;}
.b_margin{width: 1320px; margin: auto;}
.b_margin .b_ul1{display: flex;}
.b_margin .b_ul1 li{margin: 100px;}
.b_margin .b_ul2{display: flex;}
.b_margin .b_ul2 li{margin: 0 100px;}

.cacktail_var img{width: 100%;}
.cacktail{background: url(./png/menu_background3.png) no-repeat; width: 100%; height: 800px;}
.t_margin{width: 1320px; margin: auto;}
.t_margin .t_ul1{display: flex;}
.t_margin .t_ul1 li{margin: 100px;}
.t_margin .t_ul2{display: flex;}
.t_margin .t_ul2 li{margin: 0 100px;}

.dessert_var img{width: 100%;}
.dessert{background: url(./png/menu_background4.png) no-repeat; width: 100%; height: 800px;}
.d_margin{width: 1320px; margin: auto;}
.d_margin .d_ul1{display: flex;}
.d_margin .d_ul1 li{margin: 100px;}
.d_margin .d_ul2{display: flex;}
.d_margin .d_ul2 li{margin: 0 100px;}

#footer{background-color: #2d2d2d; color: #eeeeee;font-weight: 500;}
.f_margin{width: 1320px; margin: auto; position: relative;}
.f_box{float: left;padding-bottom: 39px;}
.f_box ul li{float: left; padding: 42px 50px 0 0;}
.f_box3{position: absolute; right: 30px; top: 51px;}
.f_box2{float: left;}
.f_p{padding-bottom: 28px; line-height: 31px;}
.f_p2{padding-bottom: 47px;}

.black_box{background-color: rgba(0, 0, 0, 0.5); font-size: 15px; color: #eeeeee; width: 100%; height: 50%; text-align: center; padding-top: 40px; box-sizing: border-box; position: absolute; top: 0; left: 0; font-weight: 600;}
.hover li{position: relative; overflow: hidden;}
.hover img{width: 100%;}

.black_box{top: 100%;/*pacity: 0;*/ transition: all 0.5s;}
.hover li:hover .black_box{top: 60%;/*opacity: 1;*/}